


/* MAIN */

.iu{
    display: inline-block;
    font-family: inter;
    font-weight: 700;
    color: #43C6AE;
    margin-bottom: 44px;
}


.info_auteur{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #7FB8D8;
    font-family: inter;
}

.auteur{
    color: #592EA9;
    font-weight: 700;
}

section div div{
    padding-top: 10px;
}

.contenue{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

.liste{
    font-weight: 700;
    color: #43C6AE;
}

.image_illustration{
    display: flex;
    flex-direction: row;
    width: 365px;
    height: 243px;
    justify-content: space-between;
}