
h4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 40px 0px
}


/* MAIN */

.iu{
    display: inline-block;
    font-family: inter;
    font-weight: 700;
    color: #43C6AE;
    margin-bottom: 44px;
}

.image_principal{
    padding-bottom: 20px;
    width: 85%;
}

.section div{
    display: flex;
    flex-direction: row;
}

.info_auteur{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #7FB8D8;
    font-family: inter;
}

.auteur{
    color: #592EA9;
    font-weight: 700;
}


.contenue{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}


.liste{
    font-weight: 700;
    color: #43C6AE;
}

.image_illustration{
    display: flex;
    height: 250px;
    padding: 60px 0px;
    justify-content: space-between;
}

.conclusion{
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
}

.conclusion p{
    margin: 10px 0px;
}

.important2{
    font-weight: 700;
    color: #43C6AE;
}
.important3{
    font-style: italic;
    color: #592EA9;
}

.part1{
    padding: 0px 0px 0px 70px;
    width: 1050px;
}

.section_articles{
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image_article{
    height: 70px;
    border-radius: 4px;
    padding-right: 10px;
}

.articles_populaires{
    width: 360px;
}

h5{
    color: white;
    background-color:#43C6AE;
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    margin-bottom: 20px;

}

.article{
    border: 1px solid #00000033;
    margin-bottom: 20px;
    border-radius: 10px;
}

h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    color: #000000;
}

.date_article{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #616161;

}

.article:hover{
    background-color: #36F1E6;
    box-shadow: 0px 0px 10px 0px #00000059;
}

.article_contenair{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.article_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1200px){
    .articles_populaires{
        position: absolute;
        left: -999em;
    }
}

@media screen and (max-width: 850px){
    .image_illustration{
        flex-direction: column;
        width: 100%;
        max-width: 250px;
        height: auto;
        gap: 20px;
    }
    .part1 {
        padding: 20px;
    }
}