/* GLOBAL */


body{
    font-family: 'inter';
}

h3{
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

h2{
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    margin-bottom: 65px;
    border-bottom: 1px solid #6D6E76;
    padding-bottom: 30px;
}

.important{
    font-weight: 700;
}

a{
    text-decoration: none;
}

input{  
    border-radius: 5px;
    border: none;
    padding: 16px 17px;
    box-shadow: 2px 3px 4px 0px #00000073 inset;
    font-weight: 700;
    color: rgba(10, 10, 10, 0.7);
    text-overflow: ellipsis;

}

input::placeholder {
    color: rgba(67, 198, 174, 0.4);
    font-size: 16px;
    font-weight: 700;
    font-family: sen;
}


/* HEADER */
.topnav {
    background-color: #43C6AE;
    padding: 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav input{
    margin-left: 54px;
}

.topnav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.topnav nav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-left: 34px;
}


.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is_active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is_active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is_active .bar {
	opacity: 0;
}

.mobile_nav {
	position: fixed;
	top: 80px;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #02A28F;
	transition: 0.4s ease-in-out;
}

.mobile_nav.is_active {
	left: 0;
}

.mobile_nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	padding: 20px;
	background-color: #02A28F;
    font-family: Montserrat;
	color: #FFF;
	text-decoration: none;
    font-size: 32px;
    font-weight: 700;
}

.mobile_nav a:hover {
	background-color: #02A28F;
}

.mobile_nav input{
    width: 80%;
    height: 56px;
    margin: 20px;
    border-radius: 5px;
}

@media (min-width: 1200px) {
	.mobile_nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}

.button_detail{
    font-weight: 700;
    color:#232536;
}

.Post_of_the_day{
    background-color: #EFFFFF;
    padding: 80px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}


.little_title{
    letter-spacing: 3px;
    margin-bottom: 23px;
}

.info_author{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #7FB8D8;
}

.author{
    color: #592EA9;
    font-weight: 700;
}




.Post_of_the_day div div div{
    margin-bottom: 40px;
    margin-right: 114px;
    color: #6D6E76;
    font-size: 16px;
    line-height: 28px;
}

.Post_of_the_day img{
    width: 515px;
    height: 359px;

}

.button_detail{
    padding: 16px 48px;
    border-radius: 4px;
    background-color: #36F1E6;
    border: none;
}

.contenu{
    padding-top: 55px;
}


/* Main */

section{
    padding: 80px;
}

.post{
    display: flex;
    flex-direction: row;
    margin: 60px;
    align-content: center;
    border: 1px solid #00000033

}

.type{
    color: #592EA9;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.post img{
    width: 489.24px;
    height: 318px;
    margin-right: 31.95px;
    display: flex;
    justify-content: start;
}

.detail{
    color:#6D6E76;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.post:hover{
    box-shadow:0px 0px 20px #00000059;
}

.style{
    width: 90%;
}

.changement_page{
    display: flex;
    justify-content: center;
    font-family: Sen;
    font-weight: 700;
    color:#6D6E76;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
}

.precedent{
    margin-right: 30px;
    color:#6D6E76;
}
.suivant{
    color:#6D6E76;
}

.precedent:hover, .suivant:hover{
    color: #232536;
    transform: scale(1.15   );
}

.button_categorie{
    width: 295.54px;
    height: 228px;
    border-radius: 4px; 
    margin: 32px;    
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.categorie{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.button_categorie div{
    margin:32px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.button_categorie:hover{
    background-color: #36F1E6;
    border-radius: 4px;
    box-shadow:0px 0px 20px #00000059;
    transform: scale(1.1);

}

.icone{
    width: 22.96px;
    height: 23px;
    padding: 23px 0px;
}

.icone_doublet{
    width: 48px;
    height: 48px;
    padding-bottom: 20px;
}

/* Footer */

footer{
    background-color: #43C6AE;
    padding: 80px;
    color: #FFFFFF;
}

.newsletter{
    height: 257px;
    background-color: #3DB39E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 30px;
    gap: 30px;
}

.newsletter p{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -2px;
}

.newsletter a{
    padding: 20px 48px;
    border-radius: 5px;
    background-color: #7BDDD8;
    color: #232536;
    font-size: 18px;
    font-weight: 700;
}

.information_contact{
    padding-bottom: 20px;
}

.newsletter input{
    width:350px;
    padding: 20px 17px;
}

@media screen and (max-width: 1200px){
    .Post_of_the_day img{
        position: absolute;
        left: -999em;
    }
    .Post_of_the_day{
        padding: 40px; 
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
    }

    .h3{
        font-size: 16px;
        letter-spacing: -2px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .topnav{
        padding: 20px 40px ;
    }

    .post{
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        margin: 30px;
    }
    .newsletter{
        flex-direction: column;
        align-items: flex-start;
    }
    .hamburger{
        display: block; 
    }
    .topnav nav, .topnav input{
        position: absolute;
        left: -999em;
    }
    .post img{
        width: 75%;
        height: auto;
        margin-right: 31.95px;
    }
    h2{
        margin: 0px 5%;
    }
}


@media screen and (max-width: 600px){
    .newsletter input{
        width:60%;
        padding: 20px 17px;
    }
    .newsletter{
        height: 400px;
    }
    .button_inscription{
        width: 40%;
        padding: 10% 10%;
    }
    section{
        padding: 80px 0px;
    }


}